streamlit>=1.28.0

langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.0.38
langchain-groq>=0.1.0
langchain-huggingface>=0.0.1

pypdf>=3.15.0
chromadb>=0.4.0
sentence-transformers>=2.7.0

python-dotenv>=1.0.0
requests
cryptography>=3.1
torch